<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a routerLink="/"> <img src="/assets/images/logo.svg" id="logo" style=" height: 50px;"> </a>
            </div>


        <div id="navbar" class="navbar-collapse collapse hidden">
        
          <ul class="btn navbar-right">
          	
            <li class="active"><a class="btn btn-sm btn-primary" 
            href="https://dl.dropboxusercontent.com/content_link/AoxiVYKV7ehnoTgMri0DXR8rfy1ZQ08Q09kNlrH3hyK6PrNoPQzt0dEXlAJammr4/file?dl=1" role="button">Download Resume &raquo;</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<br>


